<!DOCTYPE html>
<html>
  <head>
    <title>Tecnologías Web</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="#home" class="w3-bar-item w3-button w3-wide"
          >TECNOLOGÍAS WEB</a
        >
        <div class="w3-right w3-hide-small">
          <a href="#about" class="w3-bar-item w3-button">RESUMEN</a>
          <a href="#team" class="w3-bar-item w3-button"
            ><i class="fa fa-user"></i> TEMAS</a
          >
          <a href="#work" class="w3-bar-item w3-button"
            ><i class="fa fa-th"></i> EJEMPLOS</a
          >
          <a href="#pricing" class="w3-bar-item w3-button"
            ><i class="fa fa-usd"></i> MÓDULOS</a
          >
          <a href="#contact" class="w3-bar-item w3-button"
            ><i class="fa fa-envelope"></i> CONTACTO</a
          >
        </div>
        <a
          href="javascript:void(0)"
          class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
          onclick="w3_open()"
        >
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

    <!-- Sidebar -->
    <nav
      class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"
      style="display: none"
      id="mySidebar"
    >
      <a
        href="javascript:void(0)"
        onclick="w3_close()"
        class="w3-bar-item w3-button w3-large w3-padding-16"
        >Cerrar ×</a
      >
      <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button"
        >RESUMEN</a
      >
      <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button"
        >TEMAS</a
      >
      <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button"
        >EJEMPLOS</a
      >
      <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button"
        >MÓDULOS</a
      >
      <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button"
        >CONTACTO</a
      >
    </nav>

    <!-- Header with full-height image -->
    <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
      <img src="../assets/images/laptop.jpg" class="bgimg-1" />
      <div class="w3-display-left w3-text-white" style="padding: 15%">
        <span class="w3-jumbo w3-hide-small">Tecnologías WEB</span><br />
        <span class="w3-xxlarge w3-hide-large w3-hide-medium"
          >Aprende más sobre nuestra materia</span
        ><br />
        <span class="w3-large"
          >Hoy en día las tecnologías web dominan el mundo.</span
        >
        <p>
          <a
            href="#about"
            class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off"
            >Aprende más sobre nuestra materia</a
          >
        </p>
      </div>
      <div
        class="w3-display-bottomleft w3-text-grey w3-large"
        style="padding: 24px 48px"
      >
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
    </header>

    <!-- Justificación -->
    <div class="w3-container" style="padding: 128px 16px" id="about">
      <h3 class="w3-center">RESUMEN DE LA MATERIA</h3>
      <p class="w3-center w3-large">
        En la actualidad toda institución requiere interactuar de menor a mayor
        manera con las nuevas tecnologías de información y comunicación siendo
        el uso de las tecnologías online <br />una herramienta primordial para
        incorporar a la institución en el nuevo enfoque de mercado laboral y
        competitividad empresarial. El buen manejo de las tecnologías<br />
        online proporciona una ventaja competitiva a los profesionales e
        instituciones que hacen uso efectivo de estas tecnologías.
        <br /><br />Algunas de las habilidades que aprenderás son:
      </p>
      <div class="w3-row-padding w3-center" style="margin-top: 64px">
        <div class="w3-quarter">
          <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
          <p class="w3-large">Diseño Responsive</p>
          <p>
            Se darán los fundamentos de HTML y CSS para que puedas realizar
            páginas web responsive.
          </p>
        </div>
        <div class="w3-quarter">
          <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
          <p class="w3-large">Pasión</p>
          <p>
            Se comprenderán diferentes términos de vital importancia para lograr
            comprender las páginas web de una manera apasionada.
          </p>
        </div>
        <div class="w3-quarter">
          <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
          <p class="w3-large">Diseño</p>
          <p>
            Se tendrá un énfasis especial respecto a los diseños que realices.
          </p>
        </div>
        <div class="w3-quarter">
          <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
          <p class="w3-large">Soporte</p>
          <p>
            Tendrás a tu disposición a un docente de tiempo completo para que
            puedas aprender cada día más y más, despejando cualquier duda.
          </p>
        </div>
      </div>
    </div>

    <!-- Enseñanza -->
    <div class="w3-container" style="padding: 12px 16px" id="team">
      <h3 class="w3-center">TEMAS</h3>
      <p class="w3-center w3-large">
        Los temas que se llevarán en el semestre seŕan los siguientes:
      </p>
      <div class="w3-row-padding w3-grayscale" style="margin-top: 64px">
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card w3-center">
            <img src="../assets/images/web.png" alt="John" style="width: 80%" class="w3-center"/>
            <div class="w3-container w3-center">
              <h3>Introducción a la Tecnología WEB</h3>
              <p>
                Se comprenderán diferentes conceptos web, para que se pueda
                comprender de mejor manera en el desarrollo, para que siempre se tenga una base teórica.
              </p>
              <p>
                <button class="w3-button w3-light-grey w3-block">
                  <i class="fa fa-laptop"></i><a href="https://www.tutorialspoint.com/web_developers_guide/web_basic_concepts.htm"> Conceptos</a>
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card w3-center">
            <img src="../assets/images/git.png" alt="Jane" style="width: 80%" class="w3-center"/>
            <div class="w3-container w3-center">
              <h3>Solución tecnológica WEB</h3>
              <p>
                Se llevarán los fundamentos de GitHub, Bitbucket, SOA, SaaS,
                DOM, DHTML y mucho más! De la misma manera se realizarán ejemplos prácticos.
              </p>
              <p>
                <button class="w3-button w3-light-grey w3-block">
                  <i class="fa fa-laptop"></i><a href="https://www.interviewbit.com/blog/bitbucket-vs-github/#:~:text=GitHub%20revolves%20around%20public%20code,used%20by%20enterprises%20and%20businesses."> GitHub y BitBucket</a>
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card w3-center">
            <img src="../assets/images/cms.png" alt="Mike" style="width: 80%" class="w3-center"/>
            <div class="w3-container w3-center">
              <h3>CMS</h3>
              <p>
                Se realizará una explicación de los mejores CMS hoy en día, de
                la misma manera se planteará un proyecto para que el mejor de la
                materia represente al curso.
              </p>
              <p>
                <button class="w3-button w3-light-grey w3-block">
                  <i class="fa fa-laptop"></i><a href="https://www.hostinger.com/tutorials/best-cms"> Top de CMS</a>
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card w3-center">
            <img src="../assets/images/framework.png" alt="Dan" style="width: 80%" class="w3-center"/>
            <div class="w3-container w3-center">
              <h3>Frameworks</h3>
              <p>
                Se revisarán los frameworks más usados hoy en día, como VUE o
                Angular. De la misma manera se plantearán proyectos para revisar
                si hubo una correcta comprensión.
              </p>
              <p>
                <button class="w3-button w3-light-grey w3-block" href="https://www.w3schools.com/w3css/default.asp">
                  <i class="fa fa-laptop"></i> <a href="https://www.telerik.com/blogs/top-6-frontend-frameworks-2022"> Frameworks</a>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Estadísticas -->
    <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
      <div class="w3-quarter">
        <span class="w3-xxlarge">350+</span>
        <br />Estudiantes
      </div>
      <div class="w3-quarter">
        <span class="w3-xxlarge">155+</span>
        <br />Proyectos Terminados
      </div>
      <div class="w3-quarter">
        <span class="w3-xxlarge">740+</span>
        <br />Informes entregados
      </div>
      <div class="w3-quarter">
        <span class="w3-xxlarge">25+</span>
        <br />Clases por Semestre
      </div>
    </div>

    <!-- Skills Section -->
    <div class="w3-container w3-light-grey w3-padding-64">
      <div class="w3-row-padding">
        <div class="w3-col m6">
          <h3>Características en el campo laboral.</h3>
          <p>
            Con todo lo llevado en la materia, se conseguirá una amplia experiencia<br />
            tanto en la parte práctica, como teórica
          </p>
          <p>
            De la misma manera se evaluará cada proyecto de manera personal para<br />
            que exista una retroalimentación que ayude a cada estudiante.
          </p>
        </div>
        <div class="w3-col m6">
          <p class="w3-wide">
            <i class="fa fa-code w3-margin-right"></i>HTML y CSS
          </p>
          <div class="w3-grey">
            <div class="w3-container w3-dark-grey w3-center" style="width: 95%">
              95%
            </div>
          </div>
          <p class="w3-wide">
            <i class="fa fa-desktop w3-margin-right"></i>CMS
          </p>
          <div class="w3-grey">
            <div class="w3-container w3-dark-grey w3-center" style="width: 75%">
              75%
            </div>
          </div>
          <p class="w3-wide">
            <i class="fa fa-cog w3-margin-right"></i>Frameworks
          </p>
          <div class="w3-grey">
            <div class="w3-container w3-dark-grey w3-center" style="width: 80%">
              80%
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact -->
    <div
      class="w3-container w3-light-grey"
      style="padding: 128px 16px"
      id="contact"
    >
      <h3 class="w3-center">CONTACTO</h3>
      <p class="w3-center w3-large">Manda un mensaje para obtener mayor información de la materia:</p>
      <div style="margin-top: 48px">
        <p>
          <i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i>
          La Paz, BO
        </p>
        <p>
          <i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone:
          +591 67185667
        </p>
        <p>
          <i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i>
          Email: tecnoWeb@ucb.edu.bo
        </p>
        <br />
        <form action="/action_page.php" target="_blank">
          <p>
            <input
              class="w3-input w3-border"
              type="text"
              placeholder="Nombre"
              required
              name="Name"
            />
          </p>
          <p>
            <input
              class="w3-input w3-border"
              type="text"
              placeholder="Email"
              required
              name="Email"
            />
          </p>
          <p>
            <input
              class="w3-input w3-border"
              type="text"
              placeholder="Mensaje"
              required
              name="Message"
            />
          </p>
          <p clas="w3-center">
            <button class="w3-button w3-black w3-center" type="submit">
              <i class="fa fa-paper-plane"></i> MANDAR MENSAJE
            </button>
          </p>
        </form>
      </div>
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-64">
      <a href="#home" class="w3-button w3-light-grey"
        ><i class="fa fa-arrow-up w3-margin-right"></i>Volver Arriba</a
      >
      <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
      <p>
        Realizado en 
        <a
          href="https://www.ucb.edu.bo/"
          title="W3.CSS"
          target="_blank"
          class="w3-hover-text-green"
          >Universidad Católica Boliviana "San Pablo"</a
        >
      </p>
    </footer>
  </body>
</html>
